# -*- mode: snippet -*-
# name: Function doc with example
# key: docx
# The idea here is to help write contentful documentation in an easier way,
# without having to remember to put examples and suc.
# --
@doc """
${1:Describe what the function does}

## Example
   iex> ${2:Your example goes here}
"""