# This is my base EditorConfig file.

# Top-most EditorConfig file
root = true

# Remove trailing whitespace
trim_trailing_whitespace = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
# Always indent with 4 spaces!
indent_style = space
indent_size = 4

# Default charset
[*.{html,css,js,py,rb,erb,pas,exs,java,cpp,rs}]
charset = utf-8

# 2 space indentation
[*.{rb,css}]
indent_size = 2
