*#
*.cache
*.saves-*
*/places
*type-break

# Emacs stuff
.emacs.d/company-statistics-cache.el
.emacs.d/completions
.emacs.d/elpa
.emacs.d/elpa/archives/
.emacs.d/eshell/*
.emacs.d/eww-bookmarks
.emacs.d/forge-database.sqlite
.emacs.d/helm-adaptive-history
.emacs.d/manual-themes
.emacs.d/network-security.data
.emacs.d/projectile-bookmarks.eld
.emacs.d/projects
.emacs.d/quickurls
.emacs.d/recentf
.emacs.d/tramp
.emacs.d/transient
.emacs.d/url/cache/
.emacs.d/url/cookies
.emacs.desktop
.emacs.desktop.lock
.session.*
amx-items
bookmarks
eshell/history
eshell/lastdir
ido.last
miriamretka.el
# This is the file generated when starting Emacs, we don't need to send it to
# version control
myinit.el

persp-confs/*
tetris-scores
