*type-break
miriamretka.el
*.saves-*
*#
ido.last
bookmarks
eshell/lastdir
eshell/history
.emacs.desktop
.emacs.desktop.lock
amx-items
persp-confs/*
.emacs.d/company-statistics-cache.el
*/places
.emacs.d/projectile-bookmarks.eld
.session.*
.emacs.d/eshell/*
.emacs.d/elpa/archives/
.emacs.d/url/cache/
.emacs.d/url/cookies
.emacs.d/forge-database.sqlite
myinit.el
*.cache
.emacs.d/completions
.emacs.d/network-security.data
.emacs.d/elpa
.emacs.d/manual-themes
.emacs.d/tramp
tetris-scores
