*#
*.cache
*.saves-*
*/places
*type-break

# Emacs stuff
*.elc
.emacs.d/company-statistics-cache.el
.emacs.d/completions
.emacs.d/eln-cache
.emacs.d/elpa
.emacs.d/elpa/archives/
.emacs.d/eshell/*
.emacs.d/eww-bookmarks
.emacs.d/forge-database.sqlite
.emacs.d/helm-adaptive-history
.emacs.d/history
.emacs.d/manual-themes
.emacs.d/network-security.data
.emacs.d/org-table-highlight-metadata.el
.emacs.d/package-quickstart.el
.emacs.d/projectile-bookmarks.eld
.emacs.d/projects
.emacs.d/quickurls
.emacs.d/recentf
.emacs.d/snippets/*/private
.emacs.d/tramp
.emacs.d/transient
.emacs.d/tree-sitter
.emacs.d/url/cache/
.emacs.d/url/cookies
.emacs.desktop
.emacs.desktop.lock
.session.*
amx-items
bookmarks
eshell/history
eshell/lastdir
ido.last
miriamretka.el
myinit.el

persp-confs/*
tetris-scores
