# -*- mode: org; require-final-newline: nil; backup-inhibited: t -*-
# name: Daily report template
# key: daily
# --
** Daily `(format-time-string "%d/%m/%y" (org-current-time))`
*Bloqueios e obstáculos:*
  - $0
