# -*- mode: snippet -*-
# name: Global property metadata
# Creates a PROPERTY metadata line that adds a header arg to all the code blocks in the file.
# key: prop
# --
#+PROPERTY: header-args ${1::dir /example/dir/path}
