# -*- mode: snippet -*-
# name: postmortem snippet
# key: postmortem
# --
* ${Título}
** O que deu certo
  - ${Um item que deu certo}
** O que deu errado
  - ${Um item que deu errado}
** Onde dei sorte
  - $0