# -*- mode: snippet -*-
# name: QA User Login Step
# key: qalogin
# --
Faça login ${1:$$(yas-choose-value '("no staging do Kubernetes" "no staging do Heroku" "no app mobile"))} com as credenciais ~${2:username}@mag.com~ | ~magnetis~
$0