# -*- mode: ruby; require-final-newline: nil; backup-inhibited: t -*-
# name: Ruby Constructor
# Lets you type all the necessary args in the braces.
# Credits: Jim Weirich (with some adaptations)
# key: ctor
# --
def initialize(${1:args})
  ${1:$
(mapconcat
 '(lambda (x)
    (let
      ((var (car (split-string x "[[:space:]]*=")))) (concat "@" var " = " var)))
 (split-string yas-text ", ")
 (concat "\n" (make-string (current-column) 32)))
}$0
end